.Meet {
  transition: all 0.6s;
}
.Meet:hover {
  transform: scale(1.1);
}
.name {
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: capitalize;
}

.title {
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
}
